html{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(250,245,250,1);
  background: -moz-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,245,250,1)), color-stop(100%, rgba(222,193,245,1)));
  background: -webkit-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: -o-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: linear-gradient(to bottom, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf5fa', endColorstr='#dec1f5', GradientType=0 );
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p{
  font-size: 14px;
}
li{
  margin: 0 0 8px 0;
}
.gradient{
  background: rgba(250,245,250,1);
  background: -moz-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,245,250,1)), color-stop(100%, rgba(222,193,245,1)));
  background: -webkit-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: -o-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  background: linear-gradient(to bottom, rgba(250,245,250,1) 0%, rgba(222,193,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf5fa', endColorstr='#dec1f5', GradientType=0 );
  height: 100%;
}
.navbar{
  width: 100% !important;
}
#custom-nav {
  -webkit-box-shadow: 5px 5px 5px rgba(105, 103, 103, 0.527);
  -moz-box-shadow:    5px 5px 5px rgba(105, 103, 103, 0.527);
  box-shadow:         3px 3px 3px rgba(105, 103, 103, 0.527);
  z-index:999;
}
.footer{
  background-color: #dcbdf3;
}
.imgStyle{
  width: 250px !important;
}
.wordWrapper{
  column-count: 2;
  column-gap: 25px;
  padding: 50px;
}
.wordWrap {
  float: left;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.mainCont,
.neuroT,
.newPatient,
.jenRed {
  margin-top: 20px;
}
.demopara {
  line-height: 1.5 ;
}
.upcomingEvents{
  margin: 15px;
  padding: 10px;
  font-size: 35px;
}
.eventDiv{
  background-color: rgba(213, 153, 248, 0.185);
  width: 500px;
}
.eventList{
  padding-right: 25px;
}
.docpick{
  display: inline-block;
}
.imgHours{
  margin-top: 10px !important;
  margin-left: 50px !important;
  width: 450px;
  opacity: .75;
}
.oilImg{
  background-image: url('/images/lavoil.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
.other{
  background-color: blueviolet;
  color: white;
}
.infoCard{
  margin-top: 75px;
  opacity: .85;
}
.orderedList{
  align-self: center;
  display:inline-block;
  border:1px solid #000;
  padding:20px;
  width: 750px;
}
.vacc{
  margin-left: 35px;
  margin-right: 35px;
  font-size: 15px;
}
.techList,
.specList,
.therList{
  font-size: 13px;
  text-align: center;
  padding-left: 0;
}
.jumboTron{
  margin-top:35px;
  background-image: url('/images/backimg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

div.slide-up {
  height:400px;
  overflow:hidden;
}
div.slide-up div.inner {
  animation: slide-up 2s;
  margin-top:0%;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}
