body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.imgStyle{
  width: 250px !important;
}
.wordWrapper{
  column-count: 2;
  column-gap: 25px;
  padding: 50px;
}
.wordWrap {
  float: left;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}
