body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/backimg.png");
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p{
  font-size: 14px;
}
.imgStyle{
  width: 250px !important;
}
.wordWrapper{
  column-count: 2;
  column-gap: 25px;
  padding: 50px;
}
.wordWrap {
  float: left;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.mainCont,
.neuroT,
.newPatient,
.jenRed {
  margin-top: 20px;
}
.demopara {
  line-height: 2 ;
}
.upcomingEvents{
  margin: 15px;
  padding: 10px;
  font-size: 35px;
}
.eventDiv{
  background-color: rgba(213, 153, 248, 0.185);
  width: 500px;
}
.eventList{
  padding-right: 25px;
}
.imgHours{
  margin: 25px !important;
  width: 800px;
}
